<html>
<head>
	<title>Add Song</title>
</head>
<body>
	<h1>Add a Song</h1>
	
	<form method="post">
		<p>Title: <input type="text" name="title"></p>
		<p>Year of Release: <input type="text" name="year"></p>
		<p>Month of Release: <input type="text" name="month"></p>
		<p>Day of Release: <input type="text" name="day"></p>
		<p>Genre: <input type="text" name="genre"></p>
		<p>Artist: <input type="text" name="artist"></p>
		<button>Submit</button>
	</form>
	
	<br><br>
	<a href="/addartist">Add an artist</a> <br>
	<a href="/addsong">Add a song</a> <br>
	<a href="/listsongs">List songs by artist</a>
</body>
</html>