<html>
<head>
	<title>Add an Artist</title>
</head>
<body>
	<h1>Add an Artist</h1>
	
	<form method="post">
		<p>Name<input type="text" name="name"></p>
		<p>Year of Birth<input type="text" name="year"></p>
		<p>Month of Birth<input type="text" name="month"></p>
		<p>Day of Birth<input type="text" name="day"></p>
		<button>Submit</button>
	</form>
	
	<br><br>
	<a href="/addartist">Add an artist</a> <br>
	<a href="/addsong">Add a song</a> <br>
	<a href="/listsongs">List songs by artist</a>
</body>
</html>