h1{
  font-family: sans-serif;
  text-align: center;
  border: 3px Dotted #581845;
  padding-left: 200px;
  padding-right: 200px;
  padding-top: 20px;
  padding-bottom:20px;
  margin-top: 50px;
  background-color:#C70039;

}
